.main__playgroundBlock {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.key-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.key {
    width: 25%;
    height: 150px;
    margin: 2px;
    border: none;
    outline: none;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.coin-counter {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 24px;
}

.green, .green-bar {
    background-color: green;
}

.timer {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
}

.green-bar {
    background-color: green;
    height: 5px;
    width: 100%;
}