.header {
    width: 100%;
    height(50px);
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    background-color: var(--tg-theme-bg-color);
}

.userName {
    margin-left: auto;
}