.main_welcomeHeaderBlock {
    display: flex;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    background-color: #212121;
    position: fixed;
    top: 0;
    border-bottom: 2px solid #000000;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    flex-direction: row;
    gap: 20px;
}

.statisticWelcomeBlock {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.userName {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.coinsCount {
    display: flex;
    align-items: center;
}

.maxPoints {
    display: flex;
    align-items: center;
}