.main__playgroundBlock {
    margin-top: 5vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 95vh;
    overflow: hidden;
}

.key-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.key {
    width: 25%;
    height: 200px;
    margin: 2px;
    border: none;
    outline: none;
}

.white {
    background-color: white;
}

.black {
    background: #000000;
}

.green, .green-bar {
    background-color: green;
}

.coin-counter {
    margin-right: 20px;
}

.timer {
}

.green-bar {
    position: fixed;
    background-color: #35d035;
    height: 1px;
    width: 100%;
}

.pianoHeader {
    flex-direction: row;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 5vh;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}