.main__playgroundBlock {
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.key-row {
    display: flex;
    justify-content: space-between;
    margin: 2px;
    width: 100%;
}

.key {
    width: 25%;
    height: 250px;
    border: none;
    outline: none;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.key:active {
    transition: .2s;
    animation: pulse 0.4s ease;
}

.white {
    background: #fff;
}

.black {
    border-radius: 5px;
    background: linear-gradient(#000000, #363636);
}

.black:hover {
    transition: .3s;
    background: linear-gradient(#2f2f2f, #484848);
}

.green, .green-bar {
    background-color: green;
}

.coin-counter {
    margin-right: 20px;
}

.timer {
}

.green-bar {
    position: absolute;
    height: 5px;
    background-color: green;
    width: 100%;
}

.pianoHeader {
    flex-direction: row;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 5vh;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}

.main__pointsCounter {
    top: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #ffffff;
    text-shadow: #000000  0px 0px 5px;
    position: fixed;
}
.key-row.top-row {
    height: 150px;
}
